* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #CCC;
}

.app-container {
  width: 100%;
  height: 100%;
  min-height: 700px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 70%);
  border-radius: 10px;
  color: #FFF;
  font-weight: 400;
  font-size: 1rem;
  overflow: hidden;
}

.todo-header {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.todo-header h1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.todo-header span {
  font-size: .8rem;
  font-weight: 100;
}

.categories-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categories-container h2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.categories-container .categories-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.categories-container .categories-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  overflow: auto;
}

.categories-container .categories-list .add-category-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #FFF;
}

.category-item {
  width: max-content;
  padding: 15px;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  cursor: pointer;
}

.todos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todos-container h2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.todos-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todos-container ul li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #000;
  border-radius: 10px;
}

.todos-container .delete-taks {
  padding: 10px;
  border: none;
  color: #FFF;
  background: none;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: .8rem;
}

.todo-item input {
  display: none;
}

.todo-item .checkbox {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #FFF;
  cursor: pointer;
}

.todo-item.complete span {
  text-decoration: line-through;
  font-weight: 100;
}

.add-todo-button label {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.add-todo-button button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #FFF;
}

.add-todo-button form {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
  left: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 70%);
}

.add-todo-button form input,
.add-todo-button form select {
  padding: 10px;
  background: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 5px;
  color: #fff;
}

.add-todo-button form button[type="button"] {
  margin-left: auto;
}

.add-todo-button form button[type="submit"] {
  border-radius: 5px;
  width: max-content;
  padding: 10px;
  background: #FFF;
  color: #000;
}

.categories-container form {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
  left: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 70%);
}

.categories-container form input {
  padding: 10px;
  background: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 5px;
  color: #fff;
}

.categories-container form button[type="button"] {
  margin-left: auto;
  background: rgba(0, 0, 0, .5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #FFF;
}

.categories-container form button[type="submit"] {
  border: none;
  border-radius: 5px;
  width: max-content;
  padding: 10px;
  background: #FFF;
  color: #000;
}